﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")

</head>
<body ng-app="code360">
    <div class="text-center header">
        Practical Assessment
    </div>
    <hr />
    <br />
    <div ng-controller="MainController as mainCtrl">
        <div ng-view class="{{mainCtrl.transitionEffect}}"></div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/angular-select")
    @Scripts.Render("~/bundles/restangular")
    @Scripts.Render("~/bundles/app")
</body>
</html>
