﻿@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../Fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
}

h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-weight: 600;
}

h3 {
    font-weight: normal;
}

[data-required]:after {
    content: " *";
    color: red;
}

.field-error {
    border-color: #EA3E23;
    border-width: 1px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075)
}

.header {
    font-weight: 300;
    font-size: 36pt;
    z-index: 100;
}

label {
    font-weight: 600;
}

.center {
    float: none;
    margin: 0 auto;
}

.form-max-width {
    max-width: 500px;
    margin-bottom: 40px;
}

hr {
    border: none;
    background-color: #3FA9F5;
    color: #3FA9F5;
    height: 3px;
    width: 180px;
    margin-top: 0;
}

.submit-btn {
    background-color: #3FA9F5;
    width: 150px;
    font-weight: bold;
}

.btn, .select2-choice, span, div, input[type='text'], input[type='number'], input[type='password'], textarea {
    border-radius: 0 !important;
}


.app-slidedown {
    margin-top: 170px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 320px) {
    .app-slidedown {
        margin-top: 150px;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
}


@media screen and (min-width: 470px) {
    .app-slidedown {
        margin-top: 100px;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.app-slidedown.ng-enter,
.app-slidedown.ng-leave {
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -o-transition: 1s ease all;
    transition: 1s ease all;
}

.app-slidedown.ng-enter {
    opacity: 0;
    top: -100%;
}

.app-slidedown.ng-enter-active {
    opacity: 1;
    top: 0;
}

.app-slidedown.ng-leave {
    opacity: 1;
    top: 0;
}

.app-slidedown.ng-leave-active {
    opacity: 0;
    top: 100%;
}

.app-slideup {
    margin-top: 170px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

@media screen and (min-width: 320px) {
    .app-slideup {
        margin-top: 150px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}

@media screen and (min-width: 470px) {
    .app-slideup {
        margin-top: 100px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}

.app-slideup.ng-enter,
.app-slideup.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.app-slideup.ng-enter {
    opacity: 0;
    top: 100%;
}

.app-slideup.ng-enter-active {
    opacity: 1;
    top: 0;
}

.app-slideup.ng-leave {
    opacity: 1;
    top: 0;
}

.app-slideup.ng-leave-active {
    opacity: 1;
    top: -100%;
}
