﻿<div class="container">
    <form id="formViewModel" name="appForm" role="form" class="center form-max-width">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nameField" data-required>Your Name</label>

                    <input type="text"
                           id="nameField"
                           name="nameField"
                           ng-model="homeCtrl.formViewModel.nameField"
                           placeholder="First and last name"
                           class="form-control"
                           namevalidator
                           required />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dozenNo" data-required>How many in a dozen?</label>

                    <input type="number"
                           class="form-control"
                           id="dozenNo"
                           dozenvalidator
                           ng-model="homeCtrl.formViewModel.dozenField"
                           placeholder="Enter a number" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="skyColor" data-required>What colour is the sky?</label>

                    <div>
                        <ui-select id="skyColor"
                                   ng-model="homeCtrl.formViewModel.skyColorField"
                                   selectvalidator
                                   theme="select2"
                                   ng-disabled="disabled"
                                   class="form-control">
                            <ui-select-match allow-clear
                                             placeholder="Please select...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="color in homeCtrl.skyColors | filter:$select.search">
                                <div ng-bind-html="color | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dateTimePicker" data-required>Select 3:30pm on May 21, 2015</label>

                    <div class="dropdown"
                         id="dateTimePicker">
                        <a class="dropdown-toggle"
                           id="dropdown2"
                           data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       ng-model="homeCtrl.formViewModel.dateTimeField"
                                       datetimevalidator>
                                <span class=" input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker ng-model="homeCtrl.formViewModel.dateTimeField"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="players" data-required>Select 2 LA Lakers</label>

                    <ui-select id="players"
                               multiple ng-model="homeCtrl.formViewModel.playerField"
                               multiselectvalidator
                               theme="bootstrap">
                        <ui-select-match placeholder="Please select...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="player in homeCtrl.players | filter:$select.search">
                            {{player}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="favoriteSaying">Enter your favorite saying</label>

                    <input type="text"
                           class="form-control"
                           id="favoriteSaying"
                           ng-model="homeCtrl.formViewModel.sayingField"
                           placeholder="Can be on any topic" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning"
                     role="alert"
                     ng-show="homeCtrl.errorShow"
                     style="font-size: 15px;">
                    <strong>
                        <span ng-bind="homeCtrl.errorMessage"></span>
                    </strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger "
                     role="alert"
                     ng-show="!appForm.$valid">
                    <strong>
                        <span ng-show="!appForm.nameField.$valid">Your name is required.</span>
                        Please answer correctly the highlighted fields.
                    </strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="bottom">
                <div class="pull-right">
                    <button class="btn btn-info submit-btn"
                            ng-disabled="appForm.$invalid || homeCtrl.btnDisable"
                            ng-click="homeCtrl.submit()">
                        <i class="fa fa-cloud" style="color: white"></i>
                        <span ng-bind="homeCtrl.btnLabel"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>