﻿<div class="container">
    <div class="piechart" style="text-align: center">
        <h3>Thank you for your submission!</h3>
        <br />
        <h4>Your Score</h4>
        <span class="chart" easypiechart percent="resultCtrl.percent" options="resultCtrl.scorePercentOpts">
            <span class="percent" style="font-size:40px; font-family: 'Bebas Neue'" ng-bind="resultCtrl.percent"></span>
        </span>
        <p>
            <button type="button" class="btn btn-info submit-btn" ng-click="resultCtrl.resubmit()">
                <i class="fa fa-undo" style="color: white"></i>
                <span>Resubmit</span>
            </button>
        </p>
    </div>
</div>